@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(28, 25, 23);
}

.color-white{
  color: rgb(214, 211, 209);
}

.color-yellow {
  color : #F6D776;
}